header p {
  font-size: 2rem;
}

.text-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mainForm {
  align-items: center;
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

textarea {
  border: 1px solid;
  margin-top: 3rem;
}

.textInput {
  padding: 2rem;
}

select {
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
}

.selecButton {
  border: 1px solid;
  border-radius: 3px;
  color: aqua;
  padding: 1rem;
  margin-bottom: 10px;
}

.convertBtn {
  border: 1px solid;
  color: rgb(8, 145, 178);
  border-radius: 6px;
  cursor: pointer;
  padding: 1rem;
}

.clearBtn {
  border: 1px solid;
  border-radius: 6px;
  color: red;
  cursor: pointer;
  padding: 1rem;
}

.clearBtn:hover {
  background-color: red;
  color: black;
}

.resultantText {
  border-radius: 6px;
  display: flex;
  font-weight: bold;
  font-style: italic;
  justify-content: space-between;
  margin-top: 3rem;
  min-width: 400px;
}
